<section>
  <div class="flex items-center justify-center bg-gray-950 h-96 mb-20">

    <p class="uppercase font-sans font-extrabold text-5xl text-white">Contact</p>
  </div>
  <div class="max-w-screen-sm mx-auto">
    <form action="" class="flex flex-nowrap flex-col gap-2 mb-20">
      <label for="name" class="uppercase font-sans font-semibold">Name*</label>
      <input class="p-3 focus:outline-none focus:border focus:border-black mb-4" type="text" name="" id="name" required>
      <label for="email" class="uppercase font-sans font-semibold">Email*</label>
      <input class="p-3 focus:outline-none focus:border focus:border-black mb-4" type="text" name="" id="email" required>
      <label for="message" class="uppercase font-sans font-semibold">Message*</label>
      <textarea class="p-3 focus:outline-none focus:border focus:border-black mb-4" name="" id="message" cols="30" rows="5" required></textarea>
      <button class="uppercase p-4  bg-black text-white font-sans font-semibold  w-24 hover:bg-white hover:text-black hover:border-2 hover:border-black box-border hover:p-3">Send</button>

    </form>
  </div>

</section>
