<section>
  <div class="flex items-center justify-center bg-gray-950 h-96 mb-20">

    <p class="uppercase font-sans font-extrabold text-5xl text-white">Your Cart</p>
  </div>
  <div class="max-w-screen-sm mx-auto">
    <ng-container *ngIf="cartItems?.products?.length !== 0; else emptyCart">
      <table>
        <thead class="mb-4">
          <tr>
            <th class="w-full max-w-64 text-start">Item</th>
            <th class="">Price</th>
            <th class="">Quantity</th>
            <th class="">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartItems?.products" >
            <td class="flex-grow ">{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price * product.quantity}}</td>
          </tr>
        </tbody>
      </table>
      
    </ng-container>
    <ng-template #emptyCart>
      <p class="uppercase font-sans font-extrabold text-3xl text-black mb-10">Your cart currently empty</p>
      <a href="" class="text-red-500 font-sans font-light">Continue shopping</a>
    </ng-template>
    


  </div>
  <app-subscribe></app-subscribe>
</section>
