<div class="popup-container">
  <input type="checkbox" name="" id="sidebar-btn">
  <div class="popup">
    <label for="sidebar-btn" class="absolute top-0 left-0 w-full h-full cursor-pointer"></label>
    <div class="sidebar w-1/3 h-full flex flex-col  ">
      <!-- <input type="checkbox" name="" id="back-btn"> -->
      <label for="sidebar-btn" class="py-8 flex flex-nowrap items-center gap-2 ml-14 cursor-pointer display-i">
        <span class="w-8 h-8 inline-block relative">
          <div class="absolute  w-0.5 h-8 bg-white transform rotate-45  "></div>
          <div class="absolute  w-0.5 h-8 bg-white transform -rotate-45"></div>
        </span>
        <span class="text-white font-sans text-2xl">Close</span>
      </label>
      <label (click)="handleClick()" class="py-8 flex flex-nowrap items-center gap-3 ml-14 cursor-pointer display-n">
        <span class="text-white second-menu mr-2 ">
          <fa-icon [icon]="faArrowLeft" size="2x"></fa-icon>
        </span>
        <span class="text-white font-sans text-2xl">
          Back
        </span>
      </label>
      <ul class="text-white font-sans text-3xl font-bold ml-20 space-y-8 py-8 display-i">
        <li>
          <label routerLink="/" for="sidebar-btn"
            class="cursor-pointer relative after:absolute after:top-0 after:left-0 after:w-0 after:h-full after:z-50 after:hover:border-b-2 after:hover:border-white after:hover:w-full after:transition-all after:duration-200 after:ease-in-out">
            Home
          </label>
        </li>
        <li>

          <label for="back-btn" (click)="handleClick()"
            class="cursor-pointer relative after:absolute after:top-0 after:left-0 after:w-0 after:h-full after:z-50 after:hover:border-b-2 after:hover:border-white after:hover:w-full after:transition-all after:duration-200 after:ease-in-out">
            Shop
            <span class="ml-1">
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </span>
          </label>
        </li>
        <li>
          <label routerLink="/contact" for="sidebar-btn"
            class="cursor-pointer relative after:absolute after:top-0 after:left-0 after:w-0 after:h-full after:z-50 after:hover:border-b-2 after:hover:border-white after:hover:w-full after:transition-all after:duration-200 after:ease-in-out">
            Contact
          </label>
        </li>
      </ul>
      <ul class="text-white font-sans text-3xl font-bold ml-20 space-y-8 py-8 display-n">
        <li>
          <label routerLink="/collections/all" for="sidebar-btn"
            class="cursor-pointer relative after:absolute after:top-0 after:left-0 after:w-0 after:h-full after:z-50 after:hover:border-b-2 after:hover:border-white after:hover:w-full after:transition-all after:duration-200 after:ease-in-out">
            Shop All
          </label>
        </li>
        <li>

          <label routerLink="/collections/glove" for="sidebar-btn"
            class="cursor-pointer relative after:absolute after:top-0 after:left-0 after:w-0 after:h-full after:z-50 after:hover:border-b-2 after:hover:border-white after:hover:w-full after:transition-all after:duration-200 after:ease-in-out">
            The Hook Series
          </label>
        </li>
        <li>
          <label routerLink="/collections/shirt" for="sidebar-btn"
            class="cursor-pointer relative after:absolute after:top-0 after:left-0 after:w-0 after:h-full after:z-50 after:hover:border-b-2 after:hover:border-white after:hover:w-full after:transition-all after:duration-200 after:ease-in-out">
            Performance Apparel
          </label>
        </li>
      </ul>



    </div>
  </div>
</div>
