<div class="w-full   flex flex-col items-center gap-8 py-20">
  <fa-icon [icon]="faEnvelope" size="3x"></fa-icon>
  <p class="uppercase font-sans  font-bold text-3xl">SUBSCRIBE TO OUR NEWSLETTER</p>

  <form class="flex flex-nowrap gap-4 w-4/12" action="">
    <input type="text" placeholder="Email address"
      class="p-3  placeholder:text-gray-400 flex-grow focus:outline-none focus:border focus:border-black">
    <button type="submit" class="uppercase text-white bg-black px-8 py-2 font-sans font-bold hover:bg-white hover:text-black hover:border-2 hover:border-black">SUBSCRIBE</button>
  </form>
</div>
