<main class=" bg-cover bg-center bg-no-repeat h-full  flex align-middle justify-center" style="background-image: url('../../assets/images/banner-1.jpg');">
  <!-- <video class="absolute -z-10 w-full  aspect-video" autoplay loop muted>
    <source src="../../assets/home-banner.mp4" type="video/mp4" />
  </video> -->
  <button
    class="mx-auto my-auto text-white font-sans font-semibold uppercase text-2xl p-3 border-2 border-white transition-all duration-200 ease-in-out rounded-sm hover:bg-white hover:text-black">Shop
    Now</button>
</main>
<section >
  <app-products display="carousel"></app-products>
</section>
